@font-face {
    font-family: GameFont;
    src: url(ComicSansMS3.ttf);
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}